.df, .content-row, .content-clm, .content-account-btn, .content-account, .content-center {
  display: flex;
}

.dfw, .content-row {
  flex-wrap: wrap;
}

.aic, .content-account-btn, .content-account, .content-center {
  align-items: center;
}

.jcc, .content-account-btn, .content-account, .content-center {
  justify-content: center;
}

.fdc, .content-clm, .content-account {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

.df, .content-row, .content-clm, .content-account-btn, .content-account, .content-center {
  display: flex;
}

.dfw, .content-row {
  flex-wrap: wrap;
}

.aic, .content-account-btn, .content-account, .content-center {
  align-items: center;
}

.jcc, .content-account-btn, .content-account, .content-center {
  justify-content: center;
}

.fdc, .content-clm, .content-account {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

.clm, .content-clm3, .content-clm2, .content-clm1 {
  height: auto;
  margin: 2px;
  padding: 0px;
  text-align: center;
}

.content {
  width: 100%;
  height: 100%;
}

.content-account {
  width: 100%;
  height: 100vh;
}

.content-account-btn {
  width: 100%;
  height: auto;
  flex-direction: row;
}

@media screen and (max-width: 400px) {
  .content-account-btn {
    flex-direction: column;
  }
}

.content-row {
  width: 100%;
  height: 100%;
}

.content-clm1 {
  width: 100%;
  height: 100%;
  flex: calc(100% / 1);
}

.content-clm2 {
  flex: calc(100% / 3);
}

.content-clm3 {
  flex: calc(100% / 4);
}

.content-box {
  display: flex;
  align-item: center;
  width: 100%;
  height: 30px;
  border: 1px solid #D5DBDB;
  margin: 2px;
}

.content-box a {
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: none;
  color: #424242;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.content-box:hover {
  cursor: pointer;
}

.field-account {
  width: 100%;
  height: 40px;
  border: 1px solid #D5D8DC;
  color: #424242;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  font-size: 1em;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  letter-spacing: 0.5px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.field-account:focus {
  border: 2x solid #424242;
}

.btn {
  margin: 2px;
  color: white;
  border: 0px;
  font-size: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn-account {
  width: 35%;
  height: 35px;
}

@media screen and (max-width: 400px) {
  .btn-account {
    width: 80%;
  }
}

.btn-primary {
  background-color: #424242;
  color: white;
}

.btn-secondary {
  background-color: #ff9800;
  color: white;
}

.btn a {
  text-decoration: none;
  color: white;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.df, .content-center, .content-account, .content-account-btn, .content-clm, .content-row {
  display: flex;
}

.dfw, .content-row {
  flex-wrap: wrap;
}

.aic, .content-center, .content-account, .content-account-btn {
  align-items: center;
}

.jcc, .content-center, .content-account, .content-account-btn {
  justify-content: center;
}

.fdc, .content-account, .content-clm {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

.paper {
  background-color: white;
  border-color: #fafafa #D5DBDB #D5DBDB #D5DBDB;
  box-shadow: 0 10px 10px -10px #b0bec5;
}

.paper-title {
  margin-top: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.paper-account {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .paper-account {
    width: 300px;
  }
}

.paper-group {
  width: 600px;
  height: 700px;
}

@media screen and (max-width: 400px) {
  .paper-group {
    width: 300px;
  }
}

.title {
  margin: 5px;
  padding: 0px;
  color: #424242;
  font-size: 60px;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 50px;
  }
}

.title-account {
  color: #424242;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}

.text {
  margin: 5px;
  padding: 0px;
  color: #424242;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-color: #fafafa;
}

section {
  width: 100%;
  height: auto;
}

form {
  margin: 0px;
  padding: 40px;
  height: auto;
}

form label {
  margin: 5px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
}
