
{%  extends 'base.html' %}

{% block section %}
    <section class="content-account">
        <div class="paper paper-account">
            <div class="content-row">
                <span class="title title-account">Iniciar Seción</span>
            </div>
            <div class="content-row mt-2">
                <div class="content-clm1">
                    <button type="button" class="btn btn-account btn-primary">Iniciar Secion</button>
                    <button type="submit" class="btn btn-account btn-secondary">Registrarse</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}