<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
<div class="content">
    <div class="wrap-form-content">
        <div class="wrap-title">
            <span>Pago de cantidades iguales al final de cada periodo.</span>
        </div>
        <div class="wrap-body">
            <div class="form">
                <input type="text" placeholder="Prestamo" class="input-flat" id="id_prestamo_capital">
                <input type="text" placeholder="Interes Anual" class="input-flat" id="id_interes_capital">
                <input type="text" placeholder="Periodos" class="input-flat" id="id_periodo_capital">
                <button class="btn btn-primary" id="btn_capital">Iniciar</button>
            </div>
            <div class="content-table" id="id_table_content_capital">
                <table>
                    <thead>
                    <tr>
                        <td>Periodo</td>
                        <td>Pago</td>
                        <td>Interes</td>
                        <td>Cuota de Amortizacion</td>
                        <td>Capital Pendiente</td>
                        <td>IVA</td>
                        <td>Pago Total</td>
                    </tr>
                    </thead>
                    <tbody id="table_body_capital">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
</body>
</html>