<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
<div class="content">
    <div class="wrap-form-content">
        <div class="wrap-title">
            <span>Flujo Neto de Efectivo </span>
        </div>
        <div class="wrap-body">
            <div class="form" style="display: flex; flex-direction: row">
                <input type="checkbox" id="id_financiamiento" name="financiamiento" value="financiamiento"><label for="id_financiamiento" class="text">Financiamiento</label>
                <input type="checkbox" id="id_inflacion" name="inflacion" value="inflacion"><label for="id_inflacion" class="text">Inflacion</label>
            </div>

            <input type="text" placeholder="Ingresos" id="id_ingresos" class="input-flat">
            <input type="text" placeholder="Gastos Totales" id="id_gastos" class="input-flat">
            <input type="text" placeholder="Depresiacion" id="id_depresiacion" class="input-flat">
            <input type="text" placeholder="Gastos de Financiamiento" id="id_financiamiento_val" class="input-flat dn">
            <input type="text" placeholder="Pago de Impuestos" id="id_inflacion_val" class="input-flat dn">
            <input type="text" placeholder="Inflacion de la modeda" id="id_moneda" class="input-flat dn">
            <button class="btn btn-primary" id="btn_fne">Iniciar</button>

            <div class="form">
                <span class="text"><b>Utilidad:</b></span>
                <span id="r_utilidad"></span>
            </div>
            <div class="form">
                <span class="text"><b>Utilidad despues de inouestos:</b></span>
                <span id="r_utilidad_impuestos"></span>
            </div>
            <div class="form">
                <span class="text"><b>Flujo neto de efectivo:</b></span>
                <span id="r_fne"></span>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
</body>
</html>