<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Animacion Mari</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="estrella uno"></div>
<div class="estrella dos"></div>
<div class="estrella tres"></div>
<div class="estrella cuatro"></div>
<div class="estrella cinco"></div>
<div class="estrella seis"></div>
<div class="estrella siete"></div>
<div class="estrella ocho"></div>
<div class="estrella nueve"></div>
<div class="estrella diez"></div>
<div class="estrella once"></div>
<div class="estrella doce"></div>
<div class="mapa"></div>
<h3>Buenas noches Mari</h3>
</body>
</html>