

.df{
    display: flex;
}

.dfw{
    flex-wrap: wrap;
}

.aic{
    align-items: center;
}

.jcc{
    justify-content: center;
}

.fdc{
    flex-direction: column;
}

.fdr{
    flex-direction: row;
}
