
@import "./containers.scss";

.paper{
    background-color: white;
    border-color: $gray-1 $gray-3 $gray-3 $gray-3;
    box-shadow: 0 10px 10px -10px $blue-gray-3;
    display: flex;
    align-items: center;
    &-title{
        margin-top: 10px;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    &-account{
        width: 500px;
        height: 500px;
        @media screen and (max-width:400px){
            width: 300px;
        }
    }
}

